@media (max-width: 1020px){
    .ticket_holder {
        grid-template-columns: repeat(2, 1fr);
      }
}


@media (max-width: 950px){
    .nav ul{
        display: none;
    }
    .ticket_holder {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
      }
      .contact, .login{
        flex-direction: column;
      }
      .contact .inner:nth-child(1), .login .inner:nth-child(1){
        display: none;
      }
      .contact .inner:nth-child(2){
        /* padding: 50px; */
      }
      .formbold-form-wrapper {
        width: 100%;
        max-width: 100%;
    }
    .formbold-input-flex {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .formbold-input-flex > div {
        width: 100%;
      }

      .pay .inner{
        /* border: 1px solid; */
        flex-basis: 100%;
        padding: 15px;
      }
      
    
}


@media (max-width: 850px){
    /* .nav ul{
        display: none;
    } */
    .ticket_cards{
        display: grid;
    }
    .formbold-main-wrapper {
        flex-basis: 100%;
      }
      
      .ticketing{
        display: flex;
        flex-direction: column;
        padding: 40px;
      }
    .ticket_text .details{
        flex-direction: column;
    }
    .form_text h1{
        font-size: 60px;
      }
      
}